.style {
    border-collapse: collapse;
    width: 70%;
    margin:100px;
  }
  
  .style td, .style th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .style tr:nth-child(even)
  {background-color: #f2f2f2;}
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:black;
    color: white;
  }
  
  input {
    width: 30%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 30%;
    padding: 10px 10px ;
    margin: 0  25% 0 ;  
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  