<table class="style">
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>email</th>
      <th>city</th>
      <th>Addaction</th>
      <th>Deleteaction</th>
    </tr>
    <tr *ngFor="let item of personList; let i = index">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.city}}</td>
      <td><button mat-button (click)="addRow()"><mat-icon color="primary">add</mat-icon></button></td>
      <td><button mat-button (click) = "deleteRow(i)"><mat-icon color="warn">delete</mat-icon></button></td>
    </tr>
  </table>



