
    <mat-card class="card">
        <h1 style="text-align: center; color:red">LOGIN OUT HERE</h1>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" >
                     <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Username</mat-label>
                            <input matInput placeholder=" Enter your username" [(ngModel)]="user.username" formControlName="username" required >
                            <mat-error>Username is required</mat-error>
                        </mat-form-field>
                        </p>
        <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input matInput placeholder=" Enter your email" [(ngModel)]="user.email" formControlName="email" required>
            <mat-error>Email is required</mat-error>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter Password</mat-label>
            <input matInput placeholder=" Enter your password" [type]="hide ? 'password': 'text'"  formControlName="password" required [(ngModel)]="user.password">
            <mat-error>password is required</mat-error>
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" (click)="onLoginSubmit()">LogOut</button>
    </mat-card-actions>
    </mat-card>
  
  