.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}
.spacer {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
  color:white;
}
.home {
  margin-left: 600px;
}
.about {
  margin-left: 100px;
  margin-right: 100px;
}
/*@media(min-width:1200px) {
  .sidenav{
    display: none;
  }
}*/


