<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
      mode ="side" [(opened)]="opened">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/logout">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-mini-fab
        aria-label="Toggle sidenav"
        (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <a mat-stroked-button routerLink='/loginpage' routerActiveLink="active">Login</a>
    </mat-toolbar>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

