<div class="table">
    <mat-table [dataSource]="listData">
        <ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Id}}</mat-cell>
        </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="email">Email</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mobile}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef >gender</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DOJ">
        <mat-header-cell *matHeaderCellDef  class="doj">DOJ</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.DOJ}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ProgrammingLanguages">
        <mat-header-cell *matHeaderCellDef class="pl">ProgrammingLanguages</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ProgrammingLanguages}}</mat-cell>
    </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action">ACTIONS</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary"><mat-icon (click)="onEdit(row)">launch</mat-icon></button>
          <button mat-icon-button color="accent"><mat-icon (click)="onAdd()">add</mat-icon></button>
          <button mat-icon-button color="warn"><mat-icon (click)="onDelete(row.$key)">delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
      </mat-table>
      </div>



