<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"modify employee":"new employee"}}</span>
  <span class="space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="1"><mat-icon>close</mat-icon></button>
</mat-toolbar>

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field appearance="fill">
            <input formControlName="Id" matInput placeholder="Id*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input formControlName="Name" matInput placeholder="Full Name*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input formControlName="mobile" matInput placeholder="Mobile*">
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input formControlName="city" matInput placeholder="City">
          </mat-form-field>
          <br>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <br>
        <div class="controles-container">
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <mat-form-field appearance="fill">
            <mat-select formControlName="department" placeholder="Department">
              <mat-option>None</mat-option>
              <ng-container *ngFor="let department of departmentService.array">
                <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input formControlName="DOJ" matInput [matDatepicker]="picker" placeholder="Dateofjoin">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-select formControlName="ProgrammingLanguages" placeholder="ProgrammingLanguages">
              <mat-option>None</mat-option>
              <ng-container *ngFor="let ProgrammingLanguages of ProgrammingService.array">
                <mat-option value="{{ProgrammingLanguages.$key}}">{{ProgrammingLanguages.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <br>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
        </mat-grid-tile>
        </mat-grid-list>
    </form>