/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hide {
    display: none;
}
mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}
matDialog{
    width: 50%;
    height: 50%;
}
.space{
    flex: 1 1 auto;
}
snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
  }
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }
  .mat-table {
    font-family: auto;
  }
  .mat-header-row {
    font-weight: bold;
    border-bottom:1px solid red;
  }
  .mat-header-cell {
    font-size: 15px;
    font-weight: bold;
    overflow:hidden;
    color: red;
}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
margin-left: 40px;
}
.mat-cell {
  color:black;
  font-weight: bold;
  margin-right: 10px;
}
.mat-row {
  border-bottom-color: black;
}


